@import "tailwindcss";

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    font-family: 'Inter', 'Noto Sans SC', sans-serif;
    background-color: #f8fafc;
    color: #1e293b;
}
.ui-label, h1, h2, h3, h4, th, .select-none {
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background: #cbd5e1;
}
.transition-all {
    transition-duration: 300ms;
}
